.header-news {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
  display: grid;
  grid-template:
    "button title"
    /120px;
}

.header-channels {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
  display: grid;
  grid-template:
    "title";
  justify-content: center;
}

.header__title {
  grid-area: title;
  font-size: 60px;
  text-align: center;
  font-family: "Gentium";
}

.header__button {
  grid-area: button;
  font-family: "Gentium";
  height: 40px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  font-size: 18px;
  width: 100px;
  margin-top: 15px;
}