@import "./button.css";

* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 350px;
  max-width: 1200px;
  margin: auto;
  padding: 15px;
}

@font-face {
  font-family: "Gentium";
  font-style: bold;
  src: url("~/../src/fonts/GenBkBasBI.ttf") format("truetype");
}

@font-face {
  font-family: "Gentium-Reg";
  font-style: normal;
  src: url("~/../src/fonts/GenBkBasR.ttf") format("truetype");
}
